* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;   
    color: #e2e8f0;
}


header {
    background: linear-gradient(135deg, #0f2027, #203a43);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #e2e8f0;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}


.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background: #0ea5e9;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 0;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}


footer {
    background: #020617;
    color: #94a3b8;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}